@keyframes faedOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}

.quest-complete {
    animation: fadeOut 0.8s ease-in-out;
}